body {
  font-family: "VALORANT", sans-serif;
  color: white;
  background: #042e27;
}

section {
  height: calc(100vh - 90px);
}

.row-deck {
  height: calc(100% - 32px);
}

.deck-container {
  max-width: 600px;
  width: 100%;
}
/*
   * Styles for the deck of cards
   */

.deck {
  background: #dc3d4b;
  box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

/* Default Card Settings */
.deck .card {
  max-width: 125px;
  max-height: 125px;
  min-width: 100px;
  height: 100%;
  /* margin: 0.2rem 0.2rem; */
  background: #141214;
  font-size: 0;
  cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  .card__img {
    max-width: 125px;
    width: 0;
  }
}

/* Card Opens */
.deck .card.open {
  transform: rotateY(0);
  background: #364966;
  cursor: default;
  animation-name: flipInY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
  .card__img {
    width: 100%;
  }
}

.deck .card.show {
  font-size: 25px;
  .card__img {
    width: 100%;
  }
}

.deck .card.match {
  cursor: default;
  background: #b78460;
  font-size: 25px;
  animation-name: rubberBand;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
  .card__img {
    width: 100%;
  }
}

.deck .card.unmatched {
  animation-name: pulse;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-duration: 0.75s;
  background: #e2043b;
}

.deck .card.disabled {
  pointer-events: none;
  opacity: 0.9;
}

/*
   * Styles for the Score Panel
   */

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  cursor: pointer;
}

.fa-star {
  color: #ffd700;
}

/*
   * Styles for congratulations modal
   */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fa4454;
  border-radius: 5px;
  width: 85%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #042e27;
}

.popup .close {
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #e5f720;
}

.popup .content-1,
.content-2 {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

.show {
  visibility: visible !important;
  opacity: 100 !important;
}

#starRating li {
  display: inline-block;
}

#play-again {
  background-color: #141214;
  color: #ffffff;
}

/* animations */
@keyframes flipInY {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

/****** Media queries ***************************/

/* @media (max-width: 320px) {
    .deck {
      width: 85%;
    }
  
    .deck .card {
      height: 4.7rem;
      width: 4.7rem;
    }
  } */

/* For Tablets and larger screens
  ****************/
/* 
  @media (min-width: 768px) {
    .container {
      font-size: 22px;
    }
  
    .deck {
      width: 660px;
      height: 680px;
    }
  
    .deck .card {
      height: 125px;
      width: 125px;
    }
  
    .popup {
      width: 60%;
    }
  } */

/* Temporary CSS */
